<div class="content p-1">
    <div class="list-group-item">
        <div class="d-flex">
            <div class="mr-auto p-2">
                <h2 class="display-4 titulo">Editar Camisa</h2>
            </div>
            <div class="p-2">
                <span class="d-none d-md-block">
                    <a href="/camisas/lista-camisas" class="btn btn-outline-info btn-sm">Listar</a>
                    <a href="/camisas/visualizar-camisa/{{camisa._id}}" class="btn btn-outline-primary btn-sm">Visualizar</a>
                    <a href="/camisas/deletar-camisa/{{camisa._id}}" class="btn btn-outline-danger btn-sm" data-confirm="Tem certeza de que deseja excluir o item o selecionando">Apagar</a>
                </span>
                <div class="dropdown d-block d-md-none">
                    <button class="btn btn-primary dropdown-toggle btn-sm" type="button" id="acoesListar"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Ações
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="acoesListar">
                        <a class="dropdown-item" href="/camisas/pagamentos">Listar</a>
                        <a class="dropdown-item" href="/camisas/visualizar-camisa/{{camisa._id}}">Visualizar</a>
                        <a class="dropdown-item" href="/camisas/deletar-camisa/{{camisa._id}}" data-confirm="Tem certeza de que deseja excluir o item o selecionando">Apagar</a>
                    </div>
                </div>
            </div>
        </div>
        {{>_msg}}
        <hr>
        <form action="/camisas/update-camisa" method="POST">
            <input type="hidden" name="id" value="{{camisa._id}}" />
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label><span class="text-danger">*</span> Nome do Time</label>
                    <input name="nome_do_time" type="text" class="form-control" id="nome_do_time" placeholder="Nome do time" value="{{camisa.nome_do_time}}" required>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label><span class="text-danger">*</span> Ano</label>
                    <input name="ano" type="text" class="form-control" id="ano" placeholder="Ano" value="{{camisa.ano}}" required>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label><span class="text-danger">*</span> Cor</label>
                    <input name="cor" type="text" class="form-control" id="cor" placeholder="Cor" value="{{camisa.cor}}" required>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label><span class="text-danger">*</span> Fornecedor</label>
                    <input name="fornecedor" type="text" class="form-control" id="fornecedor" placeholder="Fornecedor" value="{{camisa.fornecedor}}" required>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label><span class="text-danger">*</span> Patrocinador</label>
                    <input name="patrocinador" type="text" class="form-control" id="patrocinador" placeholder="Patrocinador" value="{{camisa.patrocinador}}" required>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label>Categoria da Camisa</label>
                    <select name="categoriacamisa" id="categoriacamisa" class="form-control">
                        {{#each categoriacamisa}}
                            <option value="{{_id}}">{{nome}}</option>
                        {{else}}
                            <option value="">Nenhuma Categoria encontrada</option>
                        {{/each}}
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label>Imagem da Camisa (JPG)</label>
                    <input name="file" type="file" class="form-control" id="file" required>
                </div>
            </div>

            <p>
                <span class="text-danger">* </span>Campo obrigatório
            </p>
            <button type="submit" class="btn btn-success">Cadastrar</button>
        </form>
    </div>
</div>